{% load static %}
{% if name == None %}
{% for message in messages %}
<script>
  alert('{{ message.message }}')
  history.back();
</script>
{% endfor %}
{% else %}
{% for message in messages %}
<script>
  alert('{{ message.message }}')
</script>
{% endfor %}
{% endif %}
<head>
  <style type="text/css">
    html {
      height: 100%;
    }
    body {
      height: 100%;
    }
    .box {
      width: 40px;
      height: 40px;
      background-color: lightgray;
      border: 1px solid black;
      float: left;
    }

    .overview-body {
      background-color: rgba(0, 0, 0, 0.03);
    }

    .overview-p {
      display: inline;
      font-size: 40px;
      font-weight: 400%;
      font-family: "Lato", sans-serif;
    }
  </style>

  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link
  href="https://fonts.googleapis.com/css?family=Lato&display=swap"
  rel="stylesheet"
  />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="/cloud/dashboard/">Haneul</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-info">
          <span class="user-name">
           <i class="fa fa-user mr-2"></i>
           {{ name }}
         </span>
       </div>
     </div>
     <!-- sidebar-search  -->
     <div class="sidebar-menu" id="sidebar">
      <ul>


        <li class="" id="dashboard-side">
          <a href="/cloud/dashboard/">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span><span class="badge badge-danger" id="waring"></span>
          </a>

        <li class="" id ="add-side">
          <a href="/cloud/add/">
            <i class="fas fa-plus"></i>
            <span>Cloud Add</span>
          </a>
        </li>

         <li class="" id ="policy-side">
          <a href="/cloud/policy/">
            <i class="fas fa-list-ul"></i>
            <span>Policy</span>
          </a>
        </li>

         <li class="" id ="map-side">
          <a href="/cloud/dashboard/map/">
            <i class="fas fa-map"></i>
            <span>Map</span>
          </a>
        </li>


        <li class="sidebar-dropdown" id="mulit1"></li>
        <li class="sidebar-dropdown" id="mulit2"></li>
        <li class="sidebar-dropdown" id="mulit3"></li>
        <li class="sidebar-dropdown" id="mulit4"></li>
        <li class="sidebar-dropdown" id="private1"></li>
        <li class="header-menu">
        </div>

      </div>
      <div class="sidebar-footer">
        <a href="/cloud/dashboard/refresh/">
          <i class="fa fa-cog"></i>
        </a>
        <a href="/logout/">
          <span><i class="fa fa-power-off"></i></span>
        </a>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" style='padding:0;padding-left:260px'>
      <div class="container-fluid" style='padding:0'>
        {%block content%}
        <div id="haneul" style="float: left; height: 90%; width: 100%"></div>
        <div style='text-align:center;'>
                <i class="fas fa-check-circle text-success fa-2x mr-1 ml-4"></i>
                <p id="all_success" class="overview-p mr-5">0</p>
                <i class="fas fa-times-circle text-danger fa-2x mr-1"></i>
                <p id="all_danger" class="overview-p mr-5">0</p>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</main>
<!-- page-content" -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Instance Overview
        </h5>
        <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <table class="table">
          <tbody>
            <tr>
              <th>provider</th> <td id="provider"></td>
            </tr>
            <tr>
              <th>instance_type</th> <td id="instance_type"></td>
            </tr>
            <tr>
              <th>instance_name</th><td id="instance_name"></td>
            </tr>
            <tr>
              <th>parent_name</th> <td id="parent_name"></td>
            </tr>
            <tr class="table_tr"><td></td><td></td></tr>

          </tbody>
        </table>
        <div id="parent_name_div"></div>

        <div class="row mb-5">
          <div class="col-2"></div>
          <div class="card col-8 text-center overview-body" style="border:0px;">
            <div class="card-body">
              <i class="fas fa-check-circle text-success fa-2x mr-1 ml-4"></i>
              <p id="success_count" class="overview-p mr-5">0</p>

              <i class="fas fa-times-circle text-danger fa-2x mr-1"></i>
              <p id="danger_count" class="overview-p mr-5">0</p>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      >
      Close
    </button>
    <button type="button" class="btn btn-primary" onclick="go_detail_url()">Go Detail Page</button>
  </div>
</div>
</div>
</div>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="{% static 'js/cytoscape.min.js' %}"></script>
<script type="text/javascript">

 function add_header(cloud){
  if (cloud == "mulit"){
   if(!$('#header-menu1').text()){
    $('#map-side').after(`<li class="header-menu" id="header-menu1"><span>Multi Cloud</span></li>`)
  }
}
if (cloud == "private"){
 if(!$('#header-menu2').text()){
  $('#private1').before(`<li class="header-menu" id="header-menu2"><span>Private Cloud</span></li>`)
}
}
}
if(!$('#sidebar').find('#header-menu1').text() || $('#sidebar ul').find('#header-menu2').text()){
  $('#dashboard-side #waring').text('Verify')
  $('#dashboard-side #add').text('Add')
}
{% autoescape off %}
 {% for cloud in clouds.clouds %}
        {% if cloud.Vendor == "aws" %}
              add_header("mulit")
              if($('#mulit1').html()){
                $('#sidebar ul').find('#mulit4').html(`<a href="#"><i class="fa fa-amazon"></i><span>{{cloud.Name}}</span><span class="badge badge-danger" id="waring">{{value.point}}</span></a><div class="sidebar-submenu" style="display: none;" id="sidebar-submenu"><ul><li class="sidebar-dropdown" id="aws-side"><a href="#">INSTANCE</a><div class="sidebar-submenu" style=""></div></li><li><a href="#">SETTING</a></li></ul></div>`)
              } else {
                $('#sidebar ul').find('#mulit1').html(`<a href="#"><i class="fa fa-amazon"></i><span>{{cloud.Name}}</span><span class="badge badge-danger" id="waring">{{value.point}}</span></a><div class="sidebar-submenu" style="display: none;" id="sidebar-submenu"><ul><li class="sidebar-dropdown" id="aws-side"><a href="#">INSTANCE</a><div class="sidebar-submenu" style=""></div></li><li><a href="#">SETTING</a></li></ul></div>`)
              }
			  {% for compute in cloud.Data.compute %}
$('#aws-side .sidebar-submenu').append("<li><a href='/cloud/dashboard/check_list/?id={{compute}}&type=compute&provider=aws'>{{compute}}</a></li>")
{% endfor %}
{% for compute in cloud.Data.database %}
$('#aws-side .sidebar-submenu').append("<li><a href='/cloud/dashboard/check_list/?id={{compute}}&type=databasee&provider=aws'>{{compute}}</a></li>")
{% endfor %}
{% endif %}


{% if cloud.Vendor == "azure" %}
add_header("mulit")
$('#sidebar ul').find('#mulit2').html(`<a href="#"><i class="fa fa-windows"></i><span>{{cloud.Name}}</span></a><div class="sidebar-submenu" style="display: none;" id="sidebar-submenu"><ul><li class="sidebar-dropdown" id="azure-side"><a href="#">INSTANCE</a><div class="sidebar-submenu" style=""></div></li><li><a href="#">SETTING</a></li></ul></div>`)
{% endif %}
{% if cloud.Vendor == "gcp" %}
add_header("mulit")
$('#sidebar ul').find('#mulit3').html(`<a href="#"><i class="fa fa-google"></i><span>{{cloud.Name}}</span></a><div class="sidebar-submenu" style="display: none;" id="sidebar-submenu"><ul><li class="sidebar-dropdown" id="gcp-side"><a href="#">INSTANCE</a><div class="sidebar-submenu" style=""></div></li><li><a href="#">SETTING</a></li></ul></div>`)
{% endif %}
{% if cloud.Vendor == "openstack" %}
add_header("private")
$('#sidebar ul').find('#private1').html(`<a href="#"><i class="fa fa-lock"></i><span>{{cloud.Name}}</span></a><div class="sidebar-submenu" style="display: none;" id="sidebar-submenu"><ul><li class="sidebar-dropdown" id="openstack-side"><a href="#">INSTANCE</a><div class="sidebar-submenu" style=""></div></li><li><a href="#">SETTING</a></li></ul></div>`)
{% endif %}
{% endfor %}
{% endautoescape %}
{% autoescape on %}
{% for cloud in clouds.clouds%}
{% if cloud.Vendor == "aws" %}



{% endif %}

{% if cloud.Vendor == "openstack" %}
{% for compute in cloud.Data.compute %}
$('#openstack-side .sidebar-submenu').append("<li><a href='/cloud/dashboard/check_list/?id={{compute}}&type=compute&provider=openstack'>{{compute}}</a></li>")
{% endfor %}
{% endif %}

{% if cloud.Vendor == "gcp" %}
{% for compute in cloud.Data.compute %}
$('#gcp-side .sidebar-submenu').append("<li><a href='/cloud/dashboard/check_list/?id={{compute}}&type=compute&provider=gcp'>{{compute}}</a></li>")
{% endfor %}
{% endif %}

{% if cloud.Vendor == "azure" %}
{% for compute in cloud.Data.compute %}
$('#azure-side .sidebar-submenu').append("<li><a href='/cloud/dashboard/check_list/?id={{compute}}&type=compute&provider=azure'>{{compute}}</a></li>")
{% endfor %}
{% endif %}
{%endfor%}
{% endautoescape %}
if($('#sidebar').find('#header-menu1').text() || $('#sidebar ul').find('#header-menu2').text()){
  $('#dashboard-side #waring').text('')
  $('#dashboard-side #add').text('')
}

</script>
<script type="text/javascript">
  $(".sidebar-dropdown > a").click(function () {
    if (
      $(this)
      .parent()
      .hasClass("active")
      ) {
      $(".sidebar-dropdown").removeClass("active");
    $(this)
    .parent()
    .removeClass("active");
    $(".sidebar-submenu").slideUp(200);

  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
    .next(".sidebar-submenu")
    .slideDown(200);
    $(this)
    .parent()
    .addClass("active");
  }
});


  $("#close-sidebar").click(function () {
    $(".page-wrapper").removeClass("toggled");
  });
  $("#show-sidebar").click(function () {
    $(".page-wrapper").addClass("toggled");
  });

</script>
<script type="text/javascript">
  {% autoescape off %}
  const val = `{{ clouds }}`
  const check_val = `{{ summarys }}`
  {% endautoescape %}

                var convert_check_list_data = JSON.parse(check_val.replace(/'/gi, '"'))['summarys']
                var cloud_data = "";

                var instance_list = [];
                var instance_dict = {};
                var subnet_dict = {};

                var instance_edges = [];
                var instance_nodes = [];

		var cyto = null;
		var detail_url = ''


		function go_detail_url() {
			window.location.href = detail_url
		}

		function convert_check_data() {
			var tmp = {}

			for (var i = 0; i < convert_check_list_data.length; i++) {
				var ven = Object.keys(convert_check_list_data[i])[0]
				tmp[ven] = convert_check_list_data[i][ven]
			}

			convert_check_list_data = tmp
		}

		function init_all_cnt() {
			var all_win = 0
			var all_lose = 0

			for (var i in convert_check_list_data) {
				var point = convert_check_list_data[i]['point'].split("/")
				var win = point[0]
				var lose = point[1]

				if (win != "None") {
					all_win += parseInt(win)
				}

				if (lose != "None") {
					all_lose += parseInt(lose)
				}

			}
			$("#all_success").text(all_win)
			$("#all_danger").text(all_lose)
		}


		function find_provider(id) {
			for (var i = 0; i < cloud_data.clouds.length; i++) {
				if (cloud_data.clouds[i].Name == id) {
					return cloud_data.clouds[i].Vendor
				}
				if (JSON.stringify(cloud_data.clouds[i].Data).indexOf(id) != -1) {
					return cloud_data.clouds[i].Vendor
				}
			}
		}

		function find_instance_type(id) {
			for (var i = 0; i < cloud_data.clouds.length; i++) {
				if (cloud_data.clouds[i].Name == id) {
					if (cloud_data.clouds[i].Vendor == "openstack") {
						return "private cloud"
					} else {
						return "public cloud"
					}
				}

				var keys = Object.keys(cloud_data.clouds[i].Data)

				for (var j = 0; j < keys.length; j++) {
					var type = keys[j]
					var instance_key = Object.keys(cloud_data.clouds[i].Data[type])

					for (var k = 0; k < instance_key.length; k++) {
						var instance_id = instance_key[k]
						var subnet = cloud_data.clouds[i].Data[type][instance_id]['SubnetId']
						if (subnet != undefined && JSON.stringify(subnet).indexOf(id) != -1) {
							return "subnet"
						}

						var vpc = cloud_data.clouds[i].Data[type][instance_id]['VpcId']
						if (vpc != undefined && JSON.stringify(vpc).indexOf(id) != -1) {
							if (cloud_data.clouds[i].Vendor == "openstack") {
								return "network name"
							}
							return "vpc"
						}
					}

					if (JSON.stringify(cloud_data.clouds[i].Data[type]).indexOf(id) != -1) {
						return type
					}
				}
			}
			return null
		}

		function find_point(id) {
			if (convert_check_list_data[id] == undefined) {
				for (var i in convert_check_list_data) {
					if (convert_check_list_data[i][id] != undefined) {
						return convert_check_list_data[i][id]
					}
				}

				// No GCP /
				return "0/0"
			} else {
				return convert_check_list_data[id].point
			}

		}


		$(document).ready(function () {
			convert_check_data()
			$("#modal").modal({ show: false });
			draw_map();
		});


		var n1n2 = "";
		function make_cytoscape() {
			var style_str = "cytoscape.stylesheet()";
			style_str += `.selector('node').css({'height': 80,'width': 80,'background-fit': 'contain','border-opacity': 0.5,'label': 'data(id)', 'color': 'black', "border-color": 'black', "border-opacity": "1", 'border-width': '2px', 'background-color':'white', 'shape': 'round-rectangle'})
	  			.selector('.none').css({'display': 'none'})
	  			.selector('.warning').css({'border-color': 'red', 'border-width': '10px', "border-opacity": "1"})
				.selector('.router').css({'line-color': '#4c505f'})
				.selector('.database').css({'line-color': 'green'})
				.selector('.subnet').css({'width': '100px', 'height': '100px'})
				.selector('.vpc').css({'width': '120px', 'height': '120px'})
				.selector('.vendor').css({'font-size': '40px', 'color':'black', 'border-width': '10px', 'width': '160px', 'height': '160px'})`;

			for (var i = 0; i < instance_list.length; i++) {
				let id = instance_list[i];
				let type = find_instance_type(id);
				let vendor = find_provider(id);

			    style_str += ".selector('#" + id + "').css({'background-image': '/Media/Media/img/" + type + "-solid-" + vendor + ".png'})"
            }

			var vpc_complete_list = []

			var dict_key = Object.keys(subnet_dict)
			for (var key in dict_key){
				var vendor = find_provider(dict_key[key])
				style_str += ".selector('#" + dict_key[key] + "').css({'background-image': '/Media/Media/img/subnet-solid-" + vendor + ".png'})"
				console.log(".selector('#" + dict_key[key] + "').css({'background-image': '/Media/Media/img/subnet-solid-" + vendor + ".png'})")
				if (vpc_complete_list.indexOf(subnet_dict[dict_key[key]]) == -1){
					style_str += ".selector('#" + subnet_dict[dict_key[key]] + "').css({'background-image': '/Media/Media/img/vpc-solid-" + vendor + ".png'})"
					vpc_complete_list.push(subnet_dict[dict_key[key]])
				}
			}

			for (var i = 0; i < cloud_data.clouds.length; i++){
				style_str += ".selector('#" + cloud_data.clouds[i].Name + "').css({'background-image': '/Media/Media/img/" + cloud_data.clouds[i].Vendor + "-logo.png'})"  
			}
            
            for (var i = 0; i < instance_nodes.length; i++){
                if ("parent" in instance_nodes[i].data && instance_nodes[i].data.id != undefined){
                    var parent_id = instance_nodes[i].data.parent
                    instance_edges.push({data:{source: instance_nodes[i].data.id, target:parent_id}})
                    delete instance_nodes[i].data.parent
                }
            }

			cyto = cytoscape({
				container: document.getElementById("haneul"),
				boxSelectionEnabled: false,
				autounselectify: true,
				wheelSensitivity: 0.5,
				style: eval(style_str),
				elements: {
					nodes: instance_nodes,
					edges: instance_edges
				},
				layout: {
					name: "cose",
					componentSpacing: 20
				}
			});



			cyto.on("tap", "node", event => {
				const modal_body = document.querySelector(".modal-body");
				const modal_parent_div = document.querySelector("#parent_name_div");
				let instance_name = event.target.id();

				let instance_type;
				let provider;
				let parent_name;

				n1n2 = event.target

				provider = find_provider(instance_name)
				instance_type = find_instance_type(instance_name)
				detail_url = '../check_list?id=' + instance_name + '&type=' + instance_type + '&provider=' + provider

				if (event.target.parent().id()) {
					parent_name = event.target.parent().id();
					document.querySelector("#parent_name").innerText = parent_name;
					modal_parent_div.style.display = "block";
				} else {
					document.querySelector("#parent_name").innerText = "";
					modal_parent_div.style.display = "none";
				}

				document.querySelector("#instance_type").innerText = instance_type
				document.querySelector("#instance_name").innerText = instance_name;
				document.querySelector("#provider").innerText = provider;

				$("#modal").modal();
				var data = find_point(event.target.id())

				if (data == undefined) {
					data = find_point(event.target.id().split("] ")[1])
				}
				$('#success_count').text(data.split("/")[0])
				$('#danger_count').text(data.split("/")[1])
			});
		}

		function is_subnet_dict(subnet) {
			for (var sub in subnet_dict) {
				if (sub == subnet) {
					return sub;
				}
			}
			return false;
		}

		function get_vpc_element(vpc) {
			var rst = []
			for (var sub in subnet_dict) {
				if (subnet_dict[sub] == vpc) {
					rst.push(sub)
				}
			}


			for (var i = 0; i < cloud_data.clouds.length; i++) {
				var db = cloud_data["clouds"][i].Data.database

				for (var idx in db) {
					if (db[idx].VpcId == vpc) {
						rst.push(idx)
					}
				}
			}
			return rst
		}

		function make_map(data) {
			for (var i = 0; i < data.clouds.length; i++) {
				var cloud = data.clouds[i];
				var cloud_id = cloud.Name

				var cloud_data = { data: { id: cloud_id }, classes: 'vendor' }

				if (find_point(cloud_id).split("/")[1] != "0") {
					cloud_data['classes'] = ['warning', 'vendor']
				}

				instance_nodes.push(cloud_data)

				var database = cloud.Data.database
				var compute = cloud.Data.compute
				var router = cloud.Data.router
				var storage = cloud.Data.storage

				for (var id in compute) {
					instance_dict[id] = [compute[id].SubnetId];
					if (!is_subnet_dict(compute[id].SubnetId)) {
						subnet_dict[compute[id].SubnetId] = compute[id].VpcId;
						var in_data = { data: { id: compute[id].VpcId, parent: cloud_id }, classes: ['vpc'] }

						if (find_point(compute[id].VpcId).split("/")[1] != "0") {
							in_data['classes'] = ['warning', 'vpc']
						}

						instance_nodes.push(in_data)
					}

					instance_list.push(id);
				}

				for (var id in database) {
					if (database[id].SubnetId == ""){
						var in_data = { data: { id: id, parent: cloud_id } }
							if (find_point(id).split("/")[1] != "0") {
								in_data['classes'] = ['warning']
							}

						instance_nodes.push(in_data)
						instance_list.push(id);	
						continue
					}


                    
					var in_data = { data: { id: database[id].VpcId, parent: cloud_id }, classes: ['vpc']}
                    
                    if (find_point(database[id].VpcId).split("/")[1] != "0") {
						in_data['classes'] = ['warning', 'vpc']
					}

                    instance_nodes.push(in_data)
                    
                    in_data = {data: { id: id, parent: database[id].VpcId}}
                    if (find_point(id).split("/")[1] != "0") {
						in_data['classes'] = ['warning']
					}
                    instance_nodes.push(in_data)

					instance_list.push(id);
				}

				for (var idx in storage){
					instance_nodes.push({ data: { 'id': storage[idx], 'parent': cloud_id } })
					instance_list.push(storage[idx])
				}
			}
		}

		function draw_map() {
			let i;
			const data = JSON.parse(val.replace(/'/gi, '"'));
			cloud_data = data;
			make_map(data);

			for (var idx in instance_dict) {
				var p = find_point(idx)
				if (instance_dict[idx].length == 0){ continue }
				else if (instance_dict[idx].length == 1) {
					var in_data = { data: { id: idx, parent: instance_dict[idx][0] } }

					if (p.split("/")[1] != "0") {
						in_data['classes'] = ['warning']
					}
					instance_nodes.push(in_data);
				} else {
					var in_data = { data: { id: idx, parent: subnet_dict[instance_dict[idx][0]] }, classes: ['subnet'] }

					if (p.split("/")[1] != "0") {
						in_data['classes'] = ['warning', 'subnet']
					}

					instance_nodes.push(in_data);

					for (i = 0; i < instance_dict[idx].length; i++) {
						instance_nodes.push({
							data: { parent: instance_dict[idx][i] },
							classes: "none"
						});
						instance_edges.push({
							data: { source: idx, target: instance_dict[idx][i] },
							classes: 'database'
						});
					}
				}
			}

			for (var idx in subnet_dict) {
				var in_data = { 'data': { id: idx, parent: subnet_dict[idx] }, classes: ['subnet'] }
				var p = find_point(idx)
				if (p.split("/")[1] != "0") {
					in_data['classes'] = ['warning', 'subnet']
				}

				instance_nodes.push(in_data);
			}

			make_cytoscape();
			init_all_cnt()
		}
  </script>

